/* ******************** */
/* HEADER */
/* ******************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  width: 100%;
  padding: 0 4.8rem;

  z-index: 100;
}
.header-show {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.header-normal {
  position: absolute;
}

.logo {
  height: 3rem;
}

/* ******************** */
/* NAVIGATION */
/* ******************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #888;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: none;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.project-img {
  display: grid;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  padding: 3.2rem 3.2rem;
  justify-items: center;
}

.project-img img {
  width: 110rem;
  height: auto;
}

.button {
  display: flex;
  max-width: 120rem;
  padding: 1.6rem 3.2rem;
  margin: 2.4rem auto;
  gap: 2.4rem;
  justify-content: center;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 3.2rem;
  border-radius: 16px;

  /* Only necessary for .btn */
  border: 1px #eee solid;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn:link,
.btn:visited {
  color: #333;
  /* background-color: #eeeeee; */
}

.btn:hover,
.btn:active {
  color: #888;
}
/* ******************** */
/* FOOTER */
/* ******************** */

.footer {
  padding: 4.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contact-col {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
